.rg4{
    margin: 0 auto;
    padding: 80px;
}
.rg4 .central{
    text-align: center;
}

.container .border{
    
    border-radius: 30px;
    padding: 15px;
    margin-left: 34px;
    box-shadow: lightblue;
}
