.per{
    margin-top: 0 auto;
    padding: 50px;
    margin-left: 5%;

}
.card-title{
    font-weight: bold;
    margin: 0;
    color: plum;
    font-family: "Noto Sans", sans-serif;
    font-size: 7; 
}
.cdg .card-text{
    font-size: 28px;
}
.cdg .img-fluid{
    margin-top: 5%;
}